<!DOCTYPE html>
<html>
  <head>
    <title>Share17</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %> 
  <header class="header">
  <%= link_to "poteshare", "/" %>
  <h2>  <%= current_user.name %>  </h2>
  <%= link_to "ルーム登録", :new_room %>
  <%= link_to "登録済みルーム一覧", :rooms  %>
  <%= link_to "予約済みルーム一覧", :reserves  %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> 
  </header>
<% else %>
 <header class="header">
  <%= link_to "poteshare", "/" %>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %>
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
  </header>
<% end %>
    <%= yield %>
    <footer class="footer">
    <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
